#main{
    /* display: flex; */
    /* flex-direction: column; */
    margin:5% 5%;
    align-items: center;
}

.Title{
    width: 300px;
}

#difficulty-slider{
    margin: 20% 0%;
    width: 250px;
}

#start-game-btn{
    font-weight: bold;
}

#exit-lobby-btn{
    font-weight: bold;
    margin: 20% 0%;
}
