#main{
    display: flex;
    flex-direction: column;
    margin:5% 5%;
    align-items: center;
}

#Title{
    margin-top: 20px;
    margin-bottom: 60px;
    width: 300px;
    color: burlywood;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#difficulty-slider{
    margin: 20% 0%;
    width: 250px;
}

#start-game-btn{
    font-weight: bold;
}

#exit-lobby-btn{
    font-weight: bold;
    margin: 20% 0%;
}
