
#title{
    color: burlywood;
}
#creation-div{
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    max-height: 500px;
}

#creation-instruction{
    margin-top:20%;
    margin-bottom: 10%;
}

#username-input{
    padding: 5% 0%;
}

#creation-btn-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top:5%;
    margin-bottom: 5%;
}