#main{
    display: flex;
    flex-direction: column;
    margin:5% 5%;
}


.Title{
    margin-top: 20px;
    margin-bottom: 60px;
    color: burlywood;
}

#waiting-text-div{
    text-align: center;
}

.waiting-text{
    margin:5% 0%;
}

#invite-code-div{
    align-self: center;
    display: flex;
    flex-direction: column;
}

#invite-code-div{
    width: 80%;
}

#invite-code-text{
    font-size: xx-large;
    text-align: center;
    margin-bottom: 10%;
}

#invite-code{
    background-color: #1a1a1a;
    border-radius: 20px;
    text-align: center;
    padding: 5% 10%;
    font-size: 300%;
}

#duel-div{
    margin: 10% 0%;
    align-self: center;
    display: flex;
    flex-direction: column;
}

#duel-btn-open{
    background-color: greenyellow;
    color: black;
    padding: 10px 5px;
    font-size: x-large;
    font-weight: 1000;
}
#duel-btn-close{
    background-color: rgb(200, 39, 39);
    color: white;
    padding: 10px 5px;
    font-size: x-large;
    font-weight: 1000;
}

#exit-lobby-btn{
    font-weight: bold;
}