#createGame{
    padding: 20% 0%;
    display: flex;
    justify-content: center;
}

#joinGame{
    padding: 20% 0%;
    display: flex;
    justify-content: center;
}


.Title{
    color: burlywood;
}

#player-list{
    background: #1a1a1a;
}
#players-list > *{
    background-color: aqua;
}