.Title{
    margin-top: 20px;
    color: burlywood;
}



#createGame{
    padding: 20% 0%;
    display: flex;
    justify-content: center;
}


#game-join-btn{
    margin-left: 5%;
    font-weight: bold;
}

#joinGame{
    padding: 20% 0%;
    display: flex;
    justify-content: center;
}

#create-game-btn{
    font-weight: bold;
}


.player-name-div{

    display:flex;
    flex-wrap: nowrap;
    background: #1a1a1a;
    padding: 4% 0%;
    border-color: #242424;
    border-width: 2px;
    border-style: solid;
    border-radius: 7px;
}

.player-name-text{
    /* background: #1a1a1a; */
    flex-grow: .8;
    padding-left: 2%;
    font-weight: bold;
    font-size:larger;
    align-self: left;
}

.player-duel-btn{
    align-self: flex-end;
    background-color: #242424;
    color: #deb887;
    padding:5px 10px;
    flex-grow: .2;
    margin-right: 10px;
}

.player-inGame-false-inLobby-false{
    background:  rgb(56, 232, 7);
    border-radius: 99999px;
    flex-grow: 1;
    width: 10px;
    height: 10px;
    max-width: 10px;
    margin-left: 2%;
    align-self: center;
}

.player-inGame-true-inLobby-true{
    background:  rgb(251, 251, 2);
    border-radius: 99999px;
    flex-grow: 1;
    width: 10px;
    height: 10px;
    max-width: 10px;
    margin-left: 2%;
    align-self: center;
}

.player-inGame-true-inLobby-false{
    background:orangered;

    border-radius: 99999px;
    flex-grow: 1;
    width: 10px;
    height: 10px;
    max-width: 10px;
    margin-left: 2%;
    align-self: center;
}