#chat-div{
    border-style: solid;
    border-width:1px;
    border-radius: 4px;
    width: 300px;
    max-width: 300px;
    max-height: 400px;
    margin-bottom: 20px;
}

#msgs-div{
    margin:0px 20px;
    margin-top:20px;
    overflow-y: scroll;
    max-height: 300px;
}

.msg-div{
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    background-color:#5b5b5b ;
    margin-bottom:10px;
    padding:5px;
    border-radius: 5px;
}
#userName0{
    align-self: flex-start;
    background-color: rgb(193, 241, 241);
    color: rgb(0, 4, 255);
    padding:2px 7px;
    font-size: large;
    font-weight: bold;
    border-radius: 10px;
}

#userName1{
    align-self: flex-start;
    background-color: rgb(212, 133, 133);
    color: rgb(128, 13, 13);
    padding:2px 7px;
    font-size: large;
    font-weight: bold;
    border-radius: 10px;
}

#msg{
    margin: 0px 5px;
}


#msg-form{
    margin-top:10px;
    padding-bottom: 20px;
    display:flex;
    justify-content: center;
}

#msg-input{
    width: 170px;
}

#msg-send-btn{
    margin-left:10px;
}




